<div class="sign-up-container">
  <h1>Signup!</h1>
  
  <%= form_for :user, url: '/users', class: "sign-up" do |f| %>

    <div class="form-field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
  
    <div class="form-field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
  
    <div class="form-field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
  
    <div class="form-field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
  
    <div class="form-field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  
    <div class="form-field">
      <%= f.submit "Submit", class: "submit-button" %>
    </div>
  
  <% end %>
</div>